/**
 * CSSReset.com - How To Keep Footer At Bottom of Page with CSS
 * 
 * Original Tutorial: http://www.cssreset.com/2010/css-tutorials/how-to-keep-footer-at-bottom-of-page-with-css/
 * License: Free - do whatever you like with it! Credit and linkbacks much appreciated.
 *
 * NB: Make sure the value for 'padding-bottom' on #content is equal to or greater than the height of #footer.
 */
html,
body {
	margin:0;
	padding:0;
	height:100%;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
    background: url("img/yea.jpg");
    min-height:100%;
	position:relative;
}
h1{
	text-align: center;
}
h4{
	text-align: center;
	-webkit-text-stroke: .5px black
}

#help{
	text-align: left;
	margin-left: 25px;
}
#idea{
	text-align: left;
	margin-left: 25px;
}

#idea_kuva{
	margin-bottom: 25px;
	margin-left: 25px;
}

#wrapper {
	min-height: 100%;
	position:relative;
	background: url("img/yea.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
}

#header {
	background:#ededed;
	padding:0;
	margin: 0;
}
#content {
    margin-top: 10px;/* Height of the footer element */
    padding-bottom: 100px;
    justify-content: center;
    border:1px;
}
@media screen and (max-width: 480px) {
    #content {
        width: 30%;
        margin-left: 20%;
    }
}
.kuvat{
	display: inline-block;
	border-radius: 2em;
	text-align: center;
	margin-bottom: 200px;
	min-width: 80%;
	margin: auto;
}

.clear{
	clear:both;
	margin: 0px;
	text-align: center;
}
.henkilökuvaus_santtu{
	border:1px solid black;
    border-radius: 2em;
    padding:2em .3em;
    transition:all 1s;
    display: inline-block;
    text-align: center;
    margin-left: 70px;
    margin-top: 20px;
    background: url("img/kuva2.jpg");
    background-repeat: no-repeat;
    background-size:cover;
}
.kehys1{
	border:1px solid black;
	border-radius: 1em;
	margin-top: 10px;
	text-align: left;
	padding:.1em .7em;
}
.henkilökuvaus_matias{
	border:1px solid black;
    border-radius: 2em;
    padding:2em .3em;
    transition:all 1s;
    display: inline-block;
    text-align: center;
    margin-left: 70px;
    margin-top: 20px;
    background: url("img/kuva2.jpg");
    background-repeat: no-repeat;
    background-size:cover;
}
.kehys2{
	border:1px solid black;
	border-radius: 1em;
	margin-top: 10px;
	text-align: left;
	padding:.1em .7em;
}

.henkilökuvaus_viljami{
	border:1px solid black;
    border-radius: 2em;
    padding:2em .3em;
    transition:all 1s;
    display: inline-block;
    text-align: center;
    margin-left: 70px;
    margin-top: 20px;
    background: url("img/kuva2.jpg");
    background-repeat: no-repeat;
    background-size:cover;
}
.kehys3{
	border:1px solid black;
	border-radius: 1em;
	margin-top: 10px;
	text-align: left;
	padding:.1em .7em;
}
.henkilökuvaus_santtu:hover{
	box-shadow: 4px 6px 12px 7px grey;
    /*transform: rotate(2deg) translateX(0px) translateY(1px);*/
    background-color: white;
    transition-property: box-shadow, transform, background-color;
    transition-duration: 1s, .5s, .1s;
}
.henkilökuvaus_matias:hover{
	box-shadow: 4px 6px 12px 7px grey;
    /*transform: rotate(2deg) translateX(0px) translateY(1px);*/
    background-color: white;
    transition-property: box-shadow, transform, background-color;
    transition-duration: 1s, .5s, .1s;
}
.henkilökuvaus_viljami:hover{
	box-shadow: 4px 6px 12px 7px grey;
    /*transform: rotate(2deg) translateX(0px) translateY(1px);*/
    background-color: white;
    transition-property: box-shadow, transform, background-color;
    transition-duration: 1s, .5s, .1s;
}

.Tila1{
	background-color: red;
}
.Tila2{
	background-color: yellow;
}
.Tila3{
	background-color: green;
}

ul {
    list-style-type:none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
#footer {
	text-align: center;
	width:100%;
	height:50px;
	position:absolute;
	bottom:0;
	left:0;
	background-color: rgba(0,0,0,0.2);
    border-top-width: 5px;
    border-top-style: solid;
    border-top-color: rgba(0,0,0,0.1);
    font-style: italic;
    font-size: 10px;
}
.taulukko {
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 0px;
    font-family: Helvetica, Arial, sans-serif;
    border-collapse: collapse;
    border-spacing: 0;
    
}
tr:nth-child(even) {
    background-color: #dddddd;
}
tr, td{
    border: 1px solid #dddddd;	
    text-align: left;
    border: 1px solid #CCC; height: 30px;
}

.right {
    float: right;
}


#addform {
    border:3px solid black;
	margin-bottom: 90px;
	margin-top: 50px;
	text-align: left;
    border-radius: 2em;
    padding:1em 10em;
    display: inline-block;
}

#addform1 {
    border:3px solid black;
	margin-bottom: 90px;
	margin-top: 50px;
	text-align: center;
    border-radius: 2em;
    padding:1em 10em;
    display: inline-block;
}

h1 #box{
    text-align: left;
}

#boxinfo{
    text-align: center;
}
#addform h3{
    margin: 0;
    padding: 0;
}

.lomake_selitys{
	border:3px solid black;
	margin-bottom: 30px;
	margin-top: 50px;
    border-radius: 2em;
    padding:10px;
    max-width: 60%;
    text-align: center;
    margin-left: 40%;
    margin-right: 40%;
}
.lomake_selitys h4{
	text-align: center;
	padding-top: 5px;
	display: block;
	-webkit-text-stroke: .5px black;
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
}

.submit {
	-moz-box-shadow:inset 0px -1px 3px 0px #91b8b3;
	-webkit-box-shadow:inset 0px -1px 3px 0px #91b8b3;
	box-shadow:inset 0px -1px 3px 0px #91b8b3;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #768d87), color-stop(1, #47adad));
	background:-moz-linear-gradient(top, #768d87 5%, #47adad 100%);
	background:-webkit-linear-gradient(top, #768d87 5%, #47adad 100%);
	background:-o-linear-gradient(top, #768d87 5%, #47adad 100%);
	background:-ms-linear-gradient(top, #768d87 5%, #47adad 100%);
	background:linear-gradient(to bottom, #768d87 5%, #47adad 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#768d87', endColorstr='#47adad',GradientType=0);
	background-color:#768d87;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:11px 60px;
	text-decoration:none;
	text-shadow:0px -1px 0px #2b665e;
}
.submit:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #47adad), color-stop(1, #768d87));
	background:-moz-linear-gradient(top, #47adad 5%, #768d87 100%);
	background:-webkit-linear-gradient(top, #47adad 5%, #768d87 100%);
	background:-o-linear-gradient(top, #47adad 5%, #768d87 100%);
	background:-ms-linear-gradient(top, #47adad 5%, #768d87 100%);
	background:linear-gradient(to bottom, #47adad 5%, #768d87 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#47adad', endColorstr='#768d87',GradientType=0);
	background-color:#47adad;
}
.submit:active {
	position:relative;
	top:1px;
}

.about{
    width: 40%;
    float: left;
    display: block;
    max-height:80%;
    text-align: left;
    margin-right: 40px;
    margin-left: 55px;
}


.about h1{
text-align: left;
margin-top: 40px;


	}


.nurse_vasen{
    width: 40%;
    max-height: 40%;
    margin: 0;
    display: block;
    margin-top: 40px;
    margin-left: 55px;   
    margin-right: 40px;
    float: left;

}

.nurse_vasen img{
	width: 100%;

}

.lomake_selitys{
	border:3px solid black;
	margin-bottom: 30px;
	margin-top: 50px;
    border-radius: 2em;
    padding:10px;
    max-width: 65%;
    text-align: center;
    margin-left: 17.5%;
    margin-right: 17.5%;
}
.lomake_selitys h4{
	text-align: center;
	margin:5px;
	display: block;
	-webkit-text-stroke: .5px black;
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
}

#refresh {
    justify-content: center;
    text-align: center;
    margin:2px;
}

.add_patient{

	background-color: rgb(39, 185, 154);
}

.delete_patient{

	background-color: rgb(39, 185, 154);
}


.selected {
    background-color: rgb(39, 185, 154);
}

@media screen and (max-width: 964px) {

	.about, .nurse_vasen{
		width:100%;

	}	




}

