html{
	height: 100%;
}

body{
text-align: center;
background: url("img/yea.jpg");
background-repeat: no-repeat;
background-position: center center;
background-attachment: fixed;
background-size: cover;
height: 100%;
margin:auto;
}

#banner{
	text-align: left;
}

form{
	margin: 0 auto;
	width: 131px;
	text-align: center;
}

#wrapper{
	padding-top: 10px;
	padding-bottom: 10px;
	height: 100%;
}

#box{
	width:300px;
	text-align:center;
	border-radius: 25px;
    border: 2px solid #333333;
    padding: 20px; 
	
}

#boxinfo{
	margin:30px;
}

label {
  display: block;
  color: black;
  margin: 0 0 4px;
  text-align: left;
}

#login{
	color:#333333; 
	padding:5px;
	font-size: 30px;
	font-style:
}

input{
	text-align: left;
	background: transparent;
}

footer {
	padding-top:1px;
	text-align: center;
	font-size: 10px;
	float: left;
	height: 50px;
	width: 100%;
	position: relative;
	background-color: rgba(0,0,0,0.2);
    border-top-width: 5px;
    border-top-style: solid;
    border-top-color: rgba(0,0,0,0.1);
}
