*{
	padding: 0px;
	margin: 0px;
}
html{
	height: 100%;
	max-width: 100%;
}
.Tila1{
	background-color: red;
}
.Tila2{
	background-color: yellow;
}
.Tila3{
	background-color: green;
}

table{
	margin-left: 30%;
	margin-top: -600px;
	margin-bottom: 50px;
	max-height: 100%;
}

nav{
	width:300px;
	height: 666px;
	background: #C0C0C0;
	padding:10px;
}
nav ul li{
	list-style-type: none;
	display: block;
	padding:15px;
	border-bottom: 5px solid #CCC;
}

nav a{
	color: #000000;
	text-decoration:none;
	padding: 30px;
	padding-right: 100px;

}
nav ul li :hover{
	background:#3CB371;
	transition:linear all 0.40s;
}

body{
text-align: center;
background: url("img/yea.jpg");
background-repeat: no-repeat;
background-position:center;
background-attachment: fixed;
background-size: cover;
height: 100%;
margin:auto;
}

form{
	margin: 0 auto;
	width: 131px;
	text-align: center;
}

#wrapper{
	padding-top: 10px;
	padding-bottom: 10px;
	height: 100%;
}

#box{
	/*witdh voisi olla kapeampi jotta toimii mobiilissa*/
	width:300px;
	border-radius: 25px;
    border: 2px solid #333333;
    padding: 20px; 
    margin-left: auto;
    margin-right: auto;
}
#banner{
	float:left;
}


#boxinfo{
	margin:20px;
}

label {
  display: block;
  color: black;
  margin: 0 0 4px;
  text-align: left;
}

#login{
	color:#333333; 
	padding:5px;
	font-size: 30px;
	font-style:
}

input{
	text-align: left;
	background: transparent;
}

footer {
	padding-top:1px;
	text-align: center;
	font-size: 10px;
	font-style:italic;
	float: left;
	height: 50px;
	width: 100%;
	position: relative;
	background-color: rgba(0,0,0,0.2);
    border-top-width: 5px;
    border-top-style: solid;
    border-top-color: rgba(0,0,0,0.1);
}
